.input {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 232, 101);
  margin: 10px;
  padding: 20px;
  width: 90vw;
  border-radius: 10px;
}
.input_bar {
  flex: 1;
}

.msg {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  margin-right: auto;
  text-align: left;
  background-color: rgb(202, 202, 202);
}

.user_msg {
  background-color: rgb(210, 145, 243);
  padding: 10px;
  margin: 10px;
  width: fit-content;
  margin-left: auto;
  text-align: left;
}

.signin {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.signin_icon {
  width: 400px;
  height: 400px;
}
.signin_btn {
  width: 400px;
}

.name {
  margin-left: 20px;
}

body {
  background-color: blanchedalmond;
}
